<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://jnickers12.mgnt.stevens-tech.edu:8889/missingpeoplejapan?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">lsa</property>
    <property name="hibernate.connection.password"></property>
    <mapping resource="fr/michaelpereira/pfiftokml/Note.hbm.xml"/>
    <mapping resource="fr/michaelpereira/pfiftokml/Person.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
